@{
    ViewData["Title"] = "Add Tasks";
}
@model Mission6.Models.Tasks

<div class="text-center">
    <h1 class="display-4">Add a Task</h1>

    <form method="post">

        <!--Task Name-->
        <label asp-for="TaskName">Task Name:</label>
        <input asp-for="TaskName" /><br />

        <!--Due Date-->
        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />

        <!--Quandrant-->
        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="Completed">
            <option value="1">Important / Urgent</option>
            <option value="2"> Important / Not Urgent</option>
            <option value="3">Not Important / Urgent</option>
            <option value="4">Not Important / Not Urgent</option>
        </select><br />

        <!--Category dropdown-->
        <label asp-for="CategoryID">Category: </label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>
        <br />

        <!--Completed options-->
        <label asp-for="Completed">Competed? </label>
        <input type="checkbox" asp-for="Completed" value="false"/><br />
  

        <button type="submit">Add Task</button>
    </form>
</div>
