
@{
    ViewData["Title"] = "Confirmation";
}

@model Mission6.Models.Tasks


<div class="text-center">
    <h2 class="display-4">You added @Model.TaskName to your task matrix</h2>
    <p>Thank you. You may now return to another page by clicking on the navigation bar above</p>
</div>
