@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Putting First Things First Matrix</h1>
    <p>
        This is your ultimate task manager. This will divide your task into Important / Urgent, Important / Not Urgent, Not Important / Urgent, Quadrant IV: Not Important / Not Urgent
    </p>
</div>
