@{
    ViewData["Title"] = "View Task Matrix";
}

<h1>Task Matrix</h1>
<h3>View Tasks</h3>

<div class="grid-container">
    <div class="grid-item">
        <p class="font-weight-bold text-center">Urgent</p>
        <div class="scroll grid-inner-item">
            <table class="table table-bordered table-hover">
                <thead class="font-weight-bold text-center">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Quadrant</td>
                        <td>Category</td>
                        <td>Completed</td>
                        <td>Edit/Delete</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr>
                            <td>I am testing what happens with a longer table entry</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>
                                <a class=" btn btn-secondary">Edit</a><br />
                                <a class="btn btn-secondary">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="grid-item">
        <p class="font-weight-bold text-center">Not Urgent</p>
        <div class="scroll grid-inner-item">
            <table class="table table-bordered table-hover">
                <thead class="font-weight-bold text-center">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Quadrant</td>
                        <td>Category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr>
                            <td>I am testing what happens with a longer table entry</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="grid-item">
        <div class="scroll grid-inner-item">
            <table class="table table-bordered table-hover">
                <thead class="font-weight-bold text-center">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Quadrant</td>
                        <td>Category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr>
                            <td>I am testing what happens with a longer table entry</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="grid-item">
        <div class="scroll grid-inner-item">
            <table class="table table-bordered table-hover">
                <thead class="font-weight-bold text-center">
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Quadrant</td>
                        <td>Category</td>
                        <td>Completed</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 15; i++)
                    {
                        <tr>
                            <td>I am testing what happens with a longer table entry</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>